body {
  color: #555;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'faster_oneregular';
    src: url('fasterone-regular-webfont.woff2') format('woff2'),
         url('fasterone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.head {
  margin: 0 auto;
}

#music {
  display: block;
  height: 500px;
  width: 400px;
  position: fixed;
  right: 0px;
  top: 200px;

}

#header {
  background-color: #000000;
  height: 200px;


}

#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #ad0000;
}

#header-title {
  display: block;
  float: left;
  margin-left: 2%;
  margin-top: 2%;
  font-size: 400%;
  font-weight: normal;
  font-family: 'faster_oneregular';
}

#menu {
  display: block;
  position: absolute;
  top: 15.5%;
  left: 30%;
}

#menu li {
  display: inline-block;
  top: 20%;
  padding-right: 20px;
  font-size: 30px;
  font-family: 'Times New Roman';

}


#searchbar {
display: block;
  float: right;
  margin-top: 4%;
}

#basketImage {
  float: right;
  height: 7%;
  width: 7%;
}

#itemCounter {
  position: absolute;
  margin-left: 96.1%;
  margin-top: 3.5%;
  color: #000000;
}

#orderTotal {
  position: absolute;
  margin-left: 95.2%;
  margin-top: 130px;
  color: white;
}

#allProducts {
  margin-right: 20%;
  margin-top: 25px;
  margin-left: 30px;
}

.product {
  display: inline;
  float: left;
  margin-left: 25px;
  text-align: center;
  border: solid;
  padding: 10px;
  margin-bottom: 20px;
}
#productImg {
  height: 150px;
  width: 150px;
}


h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
  width: 100%;
  text-align: center;
  clear: both;

}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: #ffffff;
}

#footer a:visited {
  color: #ffffff;
}
